html, body{
	height: 100%;
	font-family: 'Playfair Display', serif;
}

.homepage {
	background-image: url("./imgs/home.jpg");
	background-size: cover;
}

.full {
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}

.start {
	color: #4E3B2D;
	font-size: 30px;
	letter-spacing: 2px;
	text-decoration: none;
	background-color: #EBEEE0;
	border-radius: 30px;
}

.start:hover {
	text-decoration: none;
}